html{
    scroll-behavior: smooth;
    scroll-padding: 250px;
}

@keyframes fade{
    from{
        opacity: 0;
        border-radius: 90px;
    }

    to{
        opacity: 1;
    }

    border-radius:100px;

}

.title{
    animation: fade 1s;
}

.navbar_links a{
    transition: all 0.5s;
}

.navbar_links a:hover{
    color: #1B9AAA;
    background-color: #F8FFE5;
    border-radius: 15px;
    display: flex;
    transform: scale(1.1);
}

@keyframes slide-up{

    from{
        transform: translateY(100px);
    }

    to{
        transform: translateY(0px);
    }
}

.hero_text p{
    animation: slide-up 1s, fade 1.5s;
}

@keyframes slide-down{

    from{
        transform: translateY(-200px);
    }

    to{
        transform: translateY(0px);
    }
}

.about-us_text{
    animation: slide-down 3s, fade 5s;
}



@keyframes slide-right{
    from{
        transform:translateX(-100px);
    }

    to{
        transform::translateX(0px);
    }
}

@keyframes slide-left{

    from{
        transform:translateX(100px);
    }

    to{
        transform::translateX(0px);
    }
}

.hero_text h2{
    animation: slide-right 1s, fade 1s, rotate 1s;
}

.img-hero{
    animation: slide-left 1s, fade 1s;
}

